.mostAsked--container {
  padding: 5rem 20rem 0rem 20rem;
}
.title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--title-color);
}
.links--container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 2rem 0;
}
.links--container div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.125rem;
  color: #38b6ff;
  line-height: 2.125rem;
}
.links--container div .span2 {
  text-decoration: none;
  cursor: pointer;
  color: var(--secondary-color);
}
@media only screen and (max-width: 480px) {
  .mostAsked--container {
    padding: 5rem 1rem 0rem 1rem;
    gap: 1rem;
  }
  .links--container div {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}


@media only screen and (min-width: 769px) and (max-width: 1200px) {
  .mostAsked--container {
    padding: 5rem 1rem 0rem 1rem;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .mostAsked--container {
    padding: 5rem 1rem 0rem 1rem;
  }
}
@media only screen and (max-width: 480px) {
  .mostAsked--container {
    padding: 5rem 1rem 0rem 1rem;
  }
}