.topics--mainContainer{
    display: flex;
    gap: 2rem;
}
.black--border{
    /* background-color: var(--main-theme); */
    background-color: transparent;
    height: 2rem;
    width: 100%;
    position: sticky;
    top: 3rem;
    z-index: 1;
}


@media only screen and (min-width: 769px) and (max-width: 1200px) {
    /* .skills--container{
        padding: 5rem 1rem 0rem 1rem;
    } */
    .topics--mainContainer{
        display: flex;
        gap: 1rem;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {

}

