.Landing--container {
  height: 400px;
  width: 100%;
  background-color: var(--main-theme);
}

.Landing--container {
  display: flex;
  padding: 0.5rem 19rem;
}

.svg--container {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.text--container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.text--container .textOne,
.text--container .textTwo {
  color: #a7fd39;
  display: flex;
  align-items: center;
}
.text--container .btn-section{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  padding-left: 1rem;
  gap: 1rem;
}
.text--container .btn-section button:nth-child(1){
  padding: .7rem .5rem;
  width: 10rem;
  font-weight: 600;
  color: white;
  border: 1px solid #a7fd39;
  border-radius: .5rem;
  background-color: transparent;
}
.text--container .btn-section button:nth-child(2){
  padding: .7rem .4rem;
  width: 10rem;
  font-weight: 600;
  border-radius: .5rem;
  background-color: #a7fd39;
  border: 1px solid #a7fd39;
}
.text--container .btn-section button:nth-child(2) a
{
  color: #1f1f1f;
  text-decoration: none;
}
.text--container .btn-section button:nth-child(1) a{
  color: #fff;
  text-decoration: none;
}
.text--container .textOne h2 {
  font-size: 4.375rem;
}


.text--container .textTwo p {
  font-size: 1.75rem;
}

.text--container .textOne div,
.text--container .textTwo div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4.375rem;
  font-weight: 600;
}

@media only screen and (min-width: 1201px) and (max-width: 1600px) {
  .Landing--container {
    display: flex;
    padding: 0.5rem 4rem;
  }

  .Landing--container {
    height: 280px;
    width: 100%;
    background-color: var(--main-theme);
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .Landing--container {
    display: flex;
    padding: 0.5rem 2rem;
  }

  .Landing--container {
    height: 280px;
    width: 100%;
    background-color: var(--main-theme);
  }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .Landing--container {
    display: flex;
    padding: 0.5rem 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .Landing--container {
    height: 400px;
    width: 100%;
    background-color: var(--main-theme);
  }
  .text--container {
    width: 100%;
    align-items: center;
  }
}

@media only screen and (max-width: 480px) {
  .Landing--container {
    height: auto;
    width: 100%;
    background-color: var(--main-theme);
  }

  .Landing--container {
    display: flex;
    padding: 0.5rem 0rem;
    flex-direction: column;
    gap: 2rem;
    padding-top: 2rem;
  }

  .svg--container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .text--container .textOne h2 {
    font-size: 2.375rem;
  }

  .text--container {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: unset;
    align-items: unset;
  }
}